.workout-selector-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.workout-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  width: 100%;
  margin-top: 1rem;
}

.workout-card {
  background: #000;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.workout-card p {
  font-size: 0.7rem;
  color: #aaa;
  line-height: 1.4;
}

.workout-card button {
  width: 100%;
  padding: 0.8rem;
  font-size: 0.8rem;
}
